version: '3.6'
services:
    vault:
        image: "{{ vault_image_name }}"
        restart: "{{ vault_restart_policy }}"
        container_name: "{{ vault_container_name }}"
        ports:
            - "{{ vault_host_port }}:8200"
        cap_add:
            - IPC_LOCK
        volumes:
            - "{{ vault_working_dir }}/{{ __vault_config_name }}:{{ vault_working_dir }}/{{ __vault_config_name }}"
        environment:
            - VAULT_ADDR={{ vault_address }}
            - VAULT_API_ADDR={{ vault_address }}
            - VAULT_ADDRESS={{ vault_address }}
        command: server -config={{ vault_working_dir }}/{{ __vault_config_name }}
